.products-controll .product-image {
    width: 50px;
    height: 50px;
    display: inline-block;
    object-fit: contain;
    user-select: none;
}

.products-controll .product-edit-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.products-controll  .imagePreview {
  object-fit: contain;
  width: 100px;
  height: 100px;
  object-position: center;
  display: none;
}

.products-controll  .imagePreview.show {
  display: block;
}
