.controll-categories.list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 750px;
}

.controll-categories .check-parent {
    margin-top: 7px;
}

.controll-categories .check-parent + select {
    pointer-events: none;
}

.controll-categories .check-parent:checked + select {
    pointer-events: auto;
}

.controll-categories .edition-form {
    height: 420px;
}

